
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="/Content/Component/plupload_2_1_2/jquery.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/Content/Component/plupload_2_1_2/jquery-ui.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/Content/Component/plupload_2_1_2/plupload.full.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/Content/Component/plupload_2_1_2/jquery.ui.plupload/jquery.ui.plupload.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="/Content/Component/plupload_2_1_2/zh_CN.js" charset="UTF-8"></script>
    <link type="text/css" rel="stylesheet" href="/Content/Component/plupload_2_1_2/jquery-ui.min.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="/Content/Component/plupload_2_1_2/jquery.ui.plupload/css/jquery.ui.plupload.css" media="screen" />
</head>
<body>
    <div>

    </div>
    <div id="uploader">
        <
    </div>
    <script type="text/javascript">
        // 初始化
        $(function () {
            $("#uploader").plupload({
                runtimes: 'html5,flash,silverlight,html4', // 这里是说用什么技术引擎
                url: 'http://localhost:48071/Home/plupload?Name=' + escape('大文件测试') + '&type=1',   // 服务端上传路径
                max_file_size: '6097mb', // 文件上传最大限制。
                max_file_count: 1,     //指示用户可以同时上传文件的最大数量
                chunk_size: '50mb', // 上传分块每块的大小，这个值小于服务器最大上传限制的值即可。

                // 是否生成缩略图（仅对图片文件有效）
                //resize: {
                //    width: 200,
                //    height: 200,
                //    quality: 90,
                //    crop: true // crop to exact dimensions
                //},

                //  这个数组是选择器，就是上传文件时限制的上传文件类型
                filters: [
                    { title: "Video files", extensions: "mp4" }
                    //{ title: "Image files", extensions: "jpg,gif,png" },
                    //{ title: "Zip files", extensions: "zip,avi,rar" }
                ],
                rename: true, // 是否重命名文件
                sortable: true, // Sort files
                dragdrop: true,//启用文件到小部件能够拖放(操作)(目前唯一HTML5支持)

                // Views to activate
                views: {
                    list: true,
                    thumbs: true, // Show thumbs
                    active: 'thumbs'
                },

                // plupload.flash.swf 的所在路径
                flash_swf_url: '../../js/Moxie.swf',

                // silverlight所在路径
                silverlight_xap_url: '../../js/Moxie.xap'
            });
        });
    </script>
</body>
</html>

